html, body {
    height: 100%;
    margin: 0 auto;
}

.contenedor {
    height: 100%;
}


header {
    float: right;
    width: 85%;
    padding: 1%;
    background-color: #009574;
    box-sizing: border-box;
}

.menuUsuario {
    float: right;
}

.botonMenu {
    color: white;
    background-color: #002E60;
}

aside {
    max-width: width 300px;
    width: 15%;
    height: 100%;
    float: left;
    background-color: #002E60;
}

section {
    overflow: hidden;
    width: 85%;
    height: 83%;
    box-sizing: border-box;
}

#fechaInicio {
    margin-bottom: 10%;
}

#fechaFinal {
    margin-bottom: 10%;

}


.contenedorSecundario {
    width: 90%;
    height: 95%;
    margin-left: 5%;
    padding: 3%;
    box-sizing: border-box;
}

.titulo {
    margin-bottom: 20%;
}

.inputs {
    margin-bottom: 0%;
}

.contenedorTerciario {
    width: 100%;
    height: 100%;
    max-width: width 400px;
}

.carrera {
    width: 20%;
}

.numeroPlantilass {
    float: right;
    width: 60%;
}

/*debes arreglar los divs del centro*/

.periodo {
    float: left;
    width: 40%;
    height: 100%;
    margin-left: 40%;
}


.botonCancelar {
    color: white;
    background-color: rgb(236, 76, 76);
    margin-left: 80%;
}

.botonSiguiente {
    color: white;
    background-color: #009574;
}

.imagen {
    margin: 10%;
    width: 80%;
    height: 10%;
    margin-bottom: 17%;
    border-radius: 10%;
}

.botonInicio {
    width: 100%;
    margin-bottom: 4%;
}

.boton {
    width: 100%;
    margin-top: 5%;
    font-family: 'Arial';
    background-color: #009574;
    color: white;
    border-radius: 10%;
}

.titulos {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.titulo1 {
    margin-left: 40%;
    color: white;
}

.titulo2 {
    margin-left: 30%;
    color: white;
}

.menu {
    padding: 5%;
    box-sizing: border-box;
}

thead, tbody {
    display: block;
}

tbody {
    height: 20rem;
    overflow-y: auto;
}

.tabla1 {
    overflow: hidden;
    float: left;
    min-width: 106px;
    background-color: gray;
    width: 40%;
    margin-left: 7%;
}

.cabezera1 {
    text-align: center;
    color: white;
    background-color: gray;
}

.subtitulo1 {
    text-align: center;
    color: white;
    background-color: green;
}

.contenido1 {
    padding-left: 5%;
}

/*------------------------------------------------------------------------*/

.tabla2 {
    float: right;
    margin-right: 7%;
    min-width: 106px;
    background-color: gray;
    width: 40%;
}

.cabezera2 {
    text-align: center;
    color: white;
    background-color: gray;
}

.subtitulo2 {
    text-align: center;
    color: white;
    background-color: blue;
}

.contenido2 {
    padding-left: 5%;
}

.numero {
    width: 30%;
}

.grado {
    width: 30%;
}

/*------------------------------------------------------------------------*/

.tabla3 {
    margin-top: 3%;
    overflow: hidden;
    float: left;
    min-width: 106px;
    background-color: gray;
    width: 40%;
    margin-left: 7%;
}

.cabezera3 {
    text-align: center;
    color: white;
    background-color: gray;
}

.subtitulo3 {
    text-align: center;
    color: black;
    background-color: yellow;
}

.contenido3 {
    padding-left: 5%;
}

/*------------------------------------------------------------------------*/

.tabla4 {
    margin-top: 3%;
    float: right;
    margin-right: 7%;
    min-width: 106px;
    background-color: gray;
    width: 40%;
}

.cabezera4 {
    text-align: center;
    color: white;
    background-color: gray;
}

.subtitulo4 {
    text-align: center;
    color: white;
    background-color: red;
}

.contenido4 {
    padding-left: 5%;
}

.numero {
    width: 30%;
}

.grado {
    width: 30%;
}

@media only screen and (max-width: 1120px) {
    thead, tbody {
        display: block;
    }

    tbody {
        height: 20rem;
        overflow-y: auto;
    }

    .botonCancelar {
        color: white;
        background-color: rgb(236, 76, 76);
        margin-left: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .boton {
        font-size: 58%;
    }

    .botonInicio {
        font-size: 70%;
    }

    thead, tbody {
        display: block;
    }

    tbody {
        height: 20rem;
        overflow-y: auto;
    }

    .botonCancelar {
        color: white;
        background-color: rgb(236, 76, 76);
        margin-left: 10%;
    }

    #fechaInicio {
        width: 100%;
        margin-top: 3%;
    }

    #fechaFinal {
        width: 100%;
    }

    .cabezera1 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: gray;
    }

    .subtitulo1 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: green;
    }


    .cabezera2 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: gray;
    }

    .subtitulo2 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: green;
    }


    .cabezera3 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: gray;
    }

    .subtitulo3 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: green;
    }


    .cabezera4 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: gray;
    }

    .subtitulo4 {
        font-size: 50%;
        text-align: center;
        color: white;
        background-color: green;
    }


    tabla1 {
        overflow: hidden;
        float: left;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 600px) {
    thead, tbody {
        display: block;
    }

    tbody {
        height: 20rem;
        overflow-y: auto;
    }

    .botonCancelar {
        color: white;
        background-color: rgb(236, 76, 76);
    }

    .botonCancelar {
        color: white;
        background-color: rgb(236, 76, 76);
    }

    .titulo1 {
        font-size: 80%;
        margin-left: 30%;
        color: white;
    }

    .titulo2 {
        font-size: 80%;
        margin-left: 10%;
        color: white;
    }
}